.color {
    color: #FDFCE5 #D7E9F7 #F4D19B #F9F3DF;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FDFCE5;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #D7E9F7;
    padding: 10px;

}

ul {
    padding: 0;
}

.Logo {
    font-size: 36px;
    width: 100%;
}

ul li {
    list-style-type: none;
    font-weight: 1000;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* first pate */

.headerText {
    padding: 10px;
    text-align: center;
    font-size: 46px;
    color: #75c1fb;
    margin-top: 50px;
}

.Doctors {
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.Doctor {
    width: 170px;
    height: 70px;
    background-color: #90caf6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.Doctor:hover {
    background-color: #75c1fb;
}

.Doctor:active {
    width: 165px;
}

/*  second page */
.secondPage {
    display: none;
}

.secondPageOne , .secondPageTwo , .secondPageThree {
    display: none;
}

span {
    color: #f3c277;
}

.dutyDoctors {
    width: auto;
}

.dutyDoctors  li {
    margin: 20px 10px;
    color: #75c1fb;
}

.btn {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    background-color: #75c1fb;
    color: #e9e9e9;
    font-size: 16px;
    position: absolute;
    bottom: -10%;
    right: 5%;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background-color: #63b3f0;
}

.btn:active {
    padding: 8px 13px;
}

/* third page */
.thirdPage {
    display: none;
}

.doctorToBeBooked {
    color: #f3c277;
}

.formTag {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #90caf6;
    width: 50%;
    height: 50vh;
    padding: 10px;
}

.formTag input ,.time {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #e29e38;
}

.formTag label {
    color: white;
    cursor: pointer;
}

.time {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.fa-clock {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #75c1fb;
    color: #F9F3DF;
}

table, tr, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: #90caf6;
}

.ok {
    bottom: 20%;
}